/*nulstil alt*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.forside {
  background-image: url(/billeder/Simon\ eksamens\ billede.png);
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  padding-top: 2rem;
}

h1 {
  font-family: "Bangers", cursive;
  font-size: 3.125rem;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 1.7rem;
  text-align: center;
}

/*placer text forside - se media query for responsiv*/
.forsidetext {
  top: 40%;
  left: 30%;
  color: white;
  font-size: 4rem;
}

main {
  margin: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.insta {
  border: none;
  color: white;
  padding: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0%;
}
.knap_child {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 90%;
}

@media (min-width: 650px) {
  /*--------text på forsiden---------*/
  .forsidetext {
    top: 45%;
    left: 45%;
    color: white;
    font-size: 4rem;
  }
  /*------text forside slut------*/
  .forside {
    background-image: url(/billeder/Simon\ eksamens\ billede.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 0%;
  }
}
